# Define the working environment

The following cells are used to: 
- Import required libraries
- Set the environment variables for Python, Anaconda, GRASS GIS and R 
- Define the ["GRASSDATA" folder](https://grass.osgeo.org/grass73/manuals/helptext.html), along with the name of the "location" and the "mapset" in which you will work.

**Import libraries**

In [1]:
## Import libraries needed for setting parameters of operating system 
import os
import sys

## Import library for temporary files creation 
import tempfile 

## Import Pandas library
import pandas as pd

## Import Numpy library
import numpy as np

## Import subprocess
import subprocess

## Import multiprocessing
import multiprocessing

**Set 'Python' and 'GRASS GIS' environment variables**

Here, we set [the environment variables allowing to use of GRASS GIS](https://grass.osgeo.org/grass64/manuals/variables.html) inside this Jupyter notebook. Please modify the directory paths, so that they match your own system configuration. 

If you are working on Windows, with the GRASS GIS [stand-alone installation](https://grass.osgeo.org/download/software/ms-windows/), the paths displayed below should be similar. 

The setting of environmental variables could be improved like proposed on [this GRASS wiki page](https://grasswiki.osgeo.org/wiki/Working_with_GRASS_without_starting_it_explicitly#Python:_GRASS_GIS_7_without_existing_location_using_metadata_only).

In [2]:
### Define GRASS GIS environment variables
os.environ['GISBASE'] = 'C:\\Program Files\\QGIS 3.12\\apps\\grass\\grass78'
os.environ['PATH'] = 'C:\\Program Files\\QGIS 3.12\\apps\\grass\\grass78\\lib;C:\\Program Files\\QGIS 3.12\\apps\\grass\\grass78\\bin;C:\\Program Files\\QGIS 3.12\\apps\\grass\\grass78\\extrabin' + os.pathsep + os.environ['PATH']
os.environ['PATH'] = 'C:\\Program Files\\QGIS 3.12\\apps\\grass\\grass78\\etc;C:\\Program Files\\QGIS 3.12\\apps\\grass\\grass78\\etc\\python\\grass;C:\\Python27' + os.pathsep + os.environ['PATH']
os.environ['PATH'] = 'C:\\Program Files\\QGIS 3.12\\apps\\grass\\grass78\\etc\\python\\grass;C:\\Users\\s2080249\\AppData\\Roaming\\GRASS7\\addons\\scripts' + os.pathsep + os.environ['PATH']
os.environ['PATH'] = 'C:\\ProgramData\\Anaconda3\\Lib\\site-packages' + os.pathsep + os.environ['PATH']
os.environ['PATH'] = 'C:\Program Files\QGIS 3.12\apps\grass\grass78\scripts' + os.pathsep + os.environ['PATH']
os.environ['PYTHONLIB'] = 'C:\\Python27' 
os.environ['PYTHONPATH'] = 'C:\\Program Files\\QGIS 3.12\\apps\grass\\grass78\\etc\\\python\\grass'
os.environ['GIS_LOCK'] = '$$'
os.environ['GISRC'] = 'C:\\Users\\s2080249\\AppData\\Roaming\\GRASS7\\rc'
os.environ['GDAL_DATA'] = 'C:\\Program Files\\QGIS 3.12\\apps\\grass\\grass78\share\\gdal'

In [3]:
## Define GRASS-Python environment
sys.path.append(os.path.join(os.environ['GISBASE'],'etc','python'))

# User inputs

In [4]:
## Define a empty dictionnary for saving user inputs
user={}

In [5]:
## Display the current defined environment variables
for key in os.environ.keys():
    print ("%s = %s \t" % (key,os.environ[key]))

ALLUSERSPROFILE = C:\ProgramData
APPDATA = C:\Users\s2080249\AppData\Roaming
CLIENTNAME = DESKTOP-3DN038Q
COMMONPROGRAMFILES = C:\Program Files\Common Files
COMMONPROGRAMFILES(X86) = C:\Program Files (x86)\Common Files
COMMONPROGRAMW6432 = C:\Program Files\Common Files
COMPUTERNAME = UT153204
COMSPEC = C:\Windows\system32\cmd.exe
CUDA_PATH = C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1
CUDA_PATH_V10_1 = C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1
DRIVERDATA = C:\Windows\System32\Drivers\DriverData
HOMEDRIVE = C:
HOMEPATH = \Users\s2080249
LOCALAPPDATA = C:\Users\s2080249\AppData\Local
LOGONSERVER = \\DC22AD
NUMBER_OF_PROCESSORS = 32
NVCUDASAMPLES10_1_ROOT = C:\ProgramData\NVIDIA Corporation\CUDA Samples\v10.1
NVCUDASAMPLES_ROOT = C:\ProgramData\NVIDIA Corporation\CUDA Samples\v10.1
NVTOOLSEXT_PATH = C:\Program Files\NVIDIA Corporation\NvToolsExt\
OS = Windows_NT
PATH = C:\Program Files\QGIS 3.12pps\grass\grass78\scripts;C:\ProgramData\Anaconda3\Lib\site-packages;C:\Program Files\QGIS 3.12\apps\grass\grass78\etc\python\grass;C:\Users\s2080249\AppData\Roaming\GRASS7\addons\scripts;C:\Program Files\QGIS 3.12\apps\grass\grass78\etc;C:\Program Files\QGIS 3.12\apps\grass\grass78\etc\python\grass;C:\Python27;C:\Program Files\QGIS 3.12\apps\grass\grass78\lib;C:\Program Files\QGIS 3.12\apps\grass\grass78\bin;C:\Program Files\QGIS 3.12\apps\grass\grass78\extrabin;C:\ProgramData\Anaconda3;C:\ProgramData\Anaconda3\Library\mingw-w64\bin;C:\ProgramData\Anaconda3\Library\usr\bin;C:\ProgramData\Anaconda3\Library\bin;C:\ProgramData\Anaconda3\Scripts;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\bin;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\libnvvp;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\Windows\System32\OpenSSH\;C:\Program Files (x86)\Intel\Intel(R) Management Engine Components\DAL;C:\Program Files\Intel\Intel(R) Management Engine Components\DAL;C:\Program Files (x86)\NVIDIA Corporation\PhysX\Common;C:\Program Files\NVIDIA Corporation\Nsight Compute 2019.4.0\;C:\Program Files\NVIDIA Corporation\NVIDIA NvDLISR;C:\Program Files (x86)\Microsoft Visual Studio\Shared\Python37_64\Scripts;C:\Users\s2080249\AppData\Local\Microsoft\WindowsApps;
PATHEXT = .COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC
PROCESSOR_ARCHITECTURE = AMD64
PROCESSOR_IDENTIFIER = Intel64 Family 6 Model 85 Stepping 4, GenuineIntel
PROCESSOR_LEVEL = 6
PROCESSOR_REVISION = 5504
PROGRAMDATA = C:\ProgramData
PROGRAMFILES = C:\Program Files
PROGRAMFILES(X86) = C:\Program Files (x86)
PROGRAMW6432 = C:\Program Files
PSMODULEPATH = C:\Program Files\WindowsPowerShell\Modules;C:\Windows\system32\WindowsPowerShell\v1.0\Modules
PUBLIC = C:\Users\Public
SESSIONNAME = RDP-Tcp#29
SYSTEMDRIVE = C:
SYSTEMROOT = C:\Windows
TEMP = C:\Users\s2080249\AppData\Local\Temp\20
TMP = C:\Users\s2080249\AppData\Local\Temp\20
UATDATA = C:\Windows\CCM\UATData\D9F8C395-CAB8-491d-B8AC-179A1FE1BE77
USERDNSDOMAIN = AD.UTWENTE.NL
USERDOMAIN = AD
USERDOMAIN_ROAMINGPROFILE = AD
USERNAME = s2080249
USERPROFILE = C:\Users\s2080249
WINDIR = C:\Windows
CONDA_PREFIX = C:\ProgramData\Anaconda3
KERNEL_LAUNCH_TIMEOUT = 40
JPY_INTERRUPT_EVENT = 4252
IPY_INTERRUPT_EVENT = 4252
JPY_PARENT_PID = 4256
TERM = xterm-color
CLICOLOR = 1
PAGER = cat
GIT_PAGER = cat
MPLBACKEND = module://ipykernel.pylab.backend_inline
GISBASE = C:\Program Files\QGIS 3.12\apps\grass\grass78
PYTHONLIB = C:\Python27
PYTHONPATH = C:\Program Files\QGIS 3.12\apps\grass\grass78\etc\\python\grass
GIS_LOCK = $$
GISRC = C:\Users\s2080249\AppData\Roaming\GRASS7\rc
GDAL_DATA = C:\Program Files\QGIS 3.12\apps\grass\grass78\share\gdal

Here after:
- Enter the path to the directory you want to use as "[GRASSDATA](https://grass.osgeo.org/programming7/loc_struct.png)". 
- Enter the name of the location in which you want to work and its projection information in [EPSG code](http://spatialreference.org/ref/epsg/) format. Please note that the GRASSDATA folder and locations will be automatically created if they do not yet exist. If the location name already exists, the projection information will not be used.  
- Enter the name you want for the mapsets which will be used later for Unsupervised Segmentation Parameter Optimization (USPO), Segmentation and Classification steps.

In [6]:
## Enter the path to GRASSDATA folder
user["gisdb"] = "E:\\UsersData\\owusu\\NEW_GRASSDATA"
## Enter the name of the location (existing or for a new one)
user["location"] = "Accra_32630"
## Enter the EPSG code for this location 
user["locationepsg"] = "32630"
## Enter the name of the mapset to use for Unsupervised Segmentation Parameter Optimization (USPO) step
#user["uspo_mapsetname"] = "accra_USPO13"
## Enter the name of the mapset to use for segmentation step
#user["segmentation_mapsetname"] = "accra_Seg13"
## Enter the name of the mapset to use for classification step
#user["CLASSIFICATION_LC_13_mapsetname"] = "CLASSIFICATION_LC_13"

# Define the GRASSDATA folder and create GRASS location and mapsets

Here after, the python script will check if the GRASSDATA folder, locations and mapsets already exist. If not, they will be automatically created.

**Import GRASS Python packages**

In [7]:
## Import libraries needed to launch GRASS GIS in the jupyter notebook
import grass.script.setup as gsetup

## Import libraries needed to call GRASS using Python
import grass.script as grass

**Define GRASSDATA folder and create location and mapsets**

In [8]:
## Automatic creation of GRASSDATA folder
if os.path.exists(user["gisdb"]):
    print ("GRASSDATA folder already exists") 
else: 
    os.makedirs(user["gisdb"]) 
    print ("GRASSDATA folder created in "+user["gisdb"])

GRASSDATA folder already exists

In [9]:
## Automatic creation of GRASS location if it doesn't exist
if os.path.exists(os.path.join(user["gisdb"],user["location"])):
    print ("Location "+user["location"]+" already exists") 
else : 
    if sys.platform.startswith('win'):
        grass7bin = grass7bin_win
        startcmd = grass7bin + ' -c epsg:' + user["locationepsg"] + ' -e ' + os.path.join(user["gisdb"],user["location"])
        p = subprocess.Popen(startcmd, shell=True, 
                             stdout=subprocess.PIPE, stderr=subprocess.PIPE)
        out, err = p.communicate()
        if p.returncode != 0:
            print (sys.stderr, 'ERROR: %s' % err)
            print (sys.stderr, 'ERROR: Cannot generate location (%s)' % startcmd)
            sys.exit(-1)
        else:
            print ('Created location %s' % os.path.join(user["gisdb"],user["location"]))
    else:
        print ('This notebook was developed for use with Windows. It seems you are using another OS.')

Location Accra_32630 already exists

# Define functions

This section of the notebook is dedicated to defining functions which will then be called later in the script. If you want to create your own functions, define them here.

## Function for computing processing time

The "print_processing_time" function is used to calculate and display the processing time for various stages of the processing chain. At the beginning of each major step, the current time is stored in a new variable, using [time.time() function](https://docs.python.org/2/library/time.html). At the end of the stage in question, the "print_processing_time" function is called and takes as an argument, the name of this new variable containing the recorded time at the beginning of the stage, and an output message.

In [10]:
## Import library for managing time in python
import time  

## Function "print_processing_time()" compute processing time and print it.
# The argument "begintime" wait for a variable containing the begintime (result of time.time()) of the process for which to compute processing time.
# The argument "printmessage" wait for a string format with information about the process. 
def print_processing_time(begintime, printmessage):    
    endtime=time.time()           
    processtime=endtime-begintime
    remainingtime=processtime

    days=int((remainingtime)/86400)
    remainingtime-=(days*86400)
    hours=int((remainingtime)/3600)
    remainingtime-=(hours*3600)
    minutes=int((remainingtime)/60)
    remainingtime-=(minutes*60)
    seconds=round((remainingtime)%60,1)

    if processtime<60:
        finalprintmessage=str(printmessage)+str(seconds)+" seconds"
    elif processtime<3600:
        finalprintmessage=str(printmessage)+str(minutes)+" minutes and "+str(seconds)+" seconds"
    elif processtime<86400:
        finalprintmessage=str(printmessage)+str(hours)+" hours and "+str(minutes)+" minutes and "+str(seconds)+" seconds"
    elif processtime>=86400:
        finalprintmessage=str(printmessage)+str(days)+" days, "+str(hours)+" hours and "+str(minutes)+" minutes and "+str(seconds)+" seconds"
    
    return finalprintmessage

In [11]:
"""
This function is used to compute ERP (Equivalent Reference Probability) from a csv file with membership probabilities to different classes
"""

import csv, os, sys, math, tempfile

def ComputeERPfromCsv(in_path, delimiter=',', erp_name="ERP", start_index=1, stop_index=False):   # "start_index" should contain the index where probabilities starts, "stop_index" where it stops.
    # Open files and create reader
    infile = open(in_path, 'r')
    reader = csv.reader(infile, delimiter=delimiter)

    # Csv header
    out_header = reader.__next__() #Get the header (first line) of input csv
    out_header.append(erp_name)

    # Create list containing output content
    out_content = []
    out_content.append(out_header) #Add the output header

    # Compute ERP values from probabilities and store new lines in a list
    for row in reader:
        out_line = row  # Copy the input file line
        if stop_index:
            frow = [float(x) for x in row[start_index:stop_index+1]] #Make sure all columns are float except for Xth first column (parameter "start_index")
        else:
            frow = [float(x) for x in row[start_index:]] #Make sure all columns are float except for Xth first column (parameter "start_index")
        probs = [x/sum(frow) for x in frow] #Make sure that the sum of probabilities equal to 1
        maxpistar = max(probs) #Take the maximum probability
        temp = [x for x in probs if x!=maxpistar] #Take probability of all but the class with the max probability
        tempEnt = [y*math.log(y) for y in temp if y>0] # If the probability is equal to zero, then the entropy will be zero
        if (1-maxpistar) > 0:
            EDI = math.log(maxpistar)-sum(tempEnt)/(1-maxpistar)
            out_line.append(math.exp(EDI)/(math.exp(EDI)+len(probs)-1))
        else:
            out_line.append(1)
        out_content.append(out_line)

    # Create output file
    out_path = "%s_ERP.csv"%os.path.splitext(in_path)[0]
    outfile = open(out_path, 'w')
    writer = csv.writer(outfile, delimiter=delimiter)
    writer.writerows(out_content)

    # Return
    return out_path

In [12]:
## Saving current time for processing time management
begintime_full=time.time()

**-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*

# Texture only Classification

**-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*

# Preparing csv files for classification

In [13]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
os.chdir("E:\\UsersData\\owusu\\new_results\\streetblocks_stats\\streetblock_stats_13")

In [14]:
## location of csv files 
streetblock_stat13="E:\\UsersData\\owusu\\new_results\\streetblocks_stats\\block13_results\\block13.csv" 
Trainset_streetblock_stat13="E:\\UsersData\\owusu\\new_results\\streetblocks_stats\\block13_results\\block13_sample.csv" 
all_outputcsv="E:\\UsersData\\owusu\\new_results\\streetblocks_stats\\block13_results\\full_blocks.csv"
#trainset_outputcsv="E:\\internship19\\resutls_2013\\streetblock_stats\\block_trainset13.csv"
trainset_labels_csv="E:\\UsersData\\owusu\\new_results\\streetblocks_stats\\block13_results\\block_trainset13.csv"

In [15]:
# opening the files into 
streetblock_stat13=pd.read_csv(streetblock_stat13, sep=',',header=0)
# opening the files into 
Trainset_streetblock_stat13=pd.read_csv(Trainset_streetblock_stat13, sep=',',header=0)

In [16]:
Trainset_streetblock_stat13.head()

,cat,xcoords,ycoords,img13_red_min,img13_red_max,img13_red_mean,img13_red_stddev,img13_red_variance,img13_red_coeff_var,img13_red_sum,...,nir13_27_Var_min,nir13_27_Var_max,nir13_27_Var_mean,nir13_27_Var_stddev,nir13_27_Var_variance,nir13_27_Var_coeff_var,nir13_27_Var_sum,nir13_27_Var_first_quart,nir13_27_Var_median,nir13_27_Var_third_quart
0,7,832258.839646,628995.655554,79,160,116.968561,14.674992,215.355384,12.546099,7779462,...,2.932897,246.636139,40.440067,29.369351,862.558771,72.624388,2.689628e+06,22.7641,32.4090,48.1936
1,96,807626.683290,618046.794759,80,191,127.256051,15.340040,235.316813,12.054468,1009395,...,15.703379,222.573853,70.452357,40.517341,1641.654957,57.510271,5.588281e+05,43.2581,62.7511,85.6427
2,120,810405.507607,623055.274754,46,117,63.760509,5.773829,33.337105,9.055494,4241094,...,64.114128,275.249268,117.277784,24.153638,583.398212,20.595237,7.800849e+06,101.1340,114.9030,129.0960
3,138,812710.352607,620161.954770,71,179,120.083058,19.360173,374.816317,16.122319,472767,...,59.607773,412.850159,219.039573,82.633280,6828.258889,37.725274,8.623588e+05,152.0930,207.8610,291.0500
4,166,821654.923109,619250.347661,76,171,111.304277,14.859116,220.793321,13.349995,1496486,...,45.007038,182.461426,83.966657,23.706350,561.991028,28.233052,1.128932e+06,68.5239,77.7142,91.8178

## Preparing trainset + label CSV

In [17]:
    
## Check and count for NaN values by column in the table
if Trainset_streetblock_stat13.isnull().any().any():
    for colomn in list(training_sample13.columns.values):
        if Trainset_streetblock_stat13[colomn].isnull().any():
            print ("Column '"+str(colomn)+"' have "+str(Trainset_streetblock_stat13[colomn].isnull().sum())+" NULL values")
else: print ("No missing values in dataframe") 
        
## Check and count for Inf values by column in the table
if np.isinf(Trainset_streetblock_stat13).any().any():
    for colomn in list(training_sample13.columns.values):
        if np.isinf(training_sample13[colomn]).any():
            print ("Column '"+str(colomn)+"' have "+str(np.isinf(training_sample13[colomn]).sum())+" Infinite values")
else: print ("No infinite values in dataframe")

No missing values in dataframe
No infinite values in dataframe

In [18]:
## Check if there are NaN values in the table and print basic information
if Trainset_streetblock_stat13.isnull().any().any():
    print ("WARNING: Some values are missing in the dataset")
else: 
    print ("No NAn values, to be used for classification")

No NAn values, to be used for classification

In [19]:
## import csv with labels
label13="E:\\UsersData\\owusu\\new_results\\streetblocks_stats\\block13_results\\labels_13.csv"
label13=pd.read_csv(label13, sep=',',header=0)

In [20]:
label13.head()

   cat  Class_num
0  138          5
1  166          2
2  246          4
3  266          1
4  884          1

In [21]:
## Join between tables (pandas dataframe) on column 'cat'
trainset_outputcsv=pd.merge(label13, Trainset_streetblock_stat13, on='cat')
trainset_outputcsv.head()

,cat,Class_num,xcoords,ycoords,img13_red_min,img13_red_max,img13_red_mean,img13_red_stddev,img13_red_variance,img13_red_coeff_var,...,nir13_27_Var_min,nir13_27_Var_max,nir13_27_Var_mean,nir13_27_Var_stddev,nir13_27_Var_variance,nir13_27_Var_coeff_var,nir13_27_Var_sum,nir13_27_Var_first_quart,nir13_27_Var_median,nir13_27_Var_third_quart
0,138,5,812710.352607,620161.954770,71,179,120.083058,19.360173,374.816317,16.122319,...,59.607773,412.850159,219.039573,82.633280,6828.258889,37.725274,8.623588e+05,152.0930,207.8610,291.0500
1,166,2,821654.923109,619250.347661,76,171,111.304277,14.859116,220.793321,13.349995,...,45.007038,182.461426,83.966657,23.706350,561.991028,28.233052,1.128932e+06,68.5239,77.7142,91.8178
2,246,4,808405.456435,613404.696156,81,167,114.769830,13.061189,170.594670,11.380334,...,42.477394,156.576248,88.017384,29.046858,843.719968,33.001274,3.162465e+05,61.4290,86.1712,111.1000
3,266,1,809156.876796,615741.796423,78,171,113.565241,13.394269,179.406451,11.794339,...,53.856468,168.830139,108.366111,25.050664,627.535756,23.116695,5.879945e+05,88.5362,106.2640,127.4080
4,884,1,805691.759011,612781.895146,76,164,115.960652,12.605319,158.894068,10.870342,...,47.050034,127.231491,74.278876,14.467794,209.317072,19.477670,3.643379e+05,63.5540,72.2988,83.8534

In [22]:
## Check if there are NaN values in the table and print basic information
if trainset_outputcsv.isnull().any().any():
    print ("WARNING: Some values are missing in the dataset")
else: 
    # Write dataframe in a .csv file
    trainset_outputcsv.to_csv(path_or_buf=trainset_labels_csv, 
                       sep=',', header=True,  quoting=None, decimal='.', index=False)
    print ("A new csv table called 'trainset_label13', to be used for classification and label, have been created with "+str(len(trainset_outputcsv))+" rows.")
    
## Display table
trainset_outputcsv.head()

A new csv table called 'trainset_label13', to be used for classification and label, have been created with 839 rows.

,cat,Class_num,xcoords,ycoords,img13_red_min,img13_red_max,img13_red_mean,img13_red_stddev,img13_red_variance,img13_red_coeff_var,...,nir13_27_Var_min,nir13_27_Var_max,nir13_27_Var_mean,nir13_27_Var_stddev,nir13_27_Var_variance,nir13_27_Var_coeff_var,nir13_27_Var_sum,nir13_27_Var_first_quart,nir13_27_Var_median,nir13_27_Var_third_quart
0,138,5,812710.352607,620161.954770,71,179,120.083058,19.360173,374.816317,16.122319,...,59.607773,412.850159,219.039573,82.633280,6828.258889,37.725274,8.623588e+05,152.0930,207.8610,291.0500
1,166,2,821654.923109,619250.347661,76,171,111.304277,14.859116,220.793321,13.349995,...,45.007038,182.461426,83.966657,23.706350,561.991028,28.233052,1.128932e+06,68.5239,77.7142,91.8178
2,246,4,808405.456435,613404.696156,81,167,114.769830,13.061189,170.594670,11.380334,...,42.477394,156.576248,88.017384,29.046858,843.719968,33.001274,3.162465e+05,61.4290,86.1712,111.1000
3,266,1,809156.876796,615741.796423,78,171,113.565241,13.394269,179.406451,11.794339,...,53.856468,168.830139,108.366111,25.050664,627.535756,23.116695,5.879945e+05,88.5362,106.2640,127.4080
4,884,1,805691.759011,612781.895146,76,164,115.960652,12.605319,158.894068,10.870342,...,47.050034,127.231491,74.278876,14.467794,209.317072,19.477670,3.643379e+05,63.5540,72.2988,83.8534

**-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*

**-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*

# Classification

In [23]:
#PERFORMING THE CLASSIFICATION USING RANDOM FOREST

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier 
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

## User input

In [24]:
##performing classification using the random forest module

segments_file="E:\\UsersData\\owusu\\new_results\\streetblocks_stats\\block13_results\\block13.csv"
training_file="E:\\UsersData\\owusu\\new_results\\streetblocks_stats\\block13_results\\block_trainset13.csv" 
outputcsv="E:\\UsersData\\owusu\\new_results\\streetblocks_stats\\block13_results\\rules13"

In [25]:
raster_segments_map="sstreetblocks_all@PERMANENT"
#classified_map="indiv_classification17"
train_class_column="Class_num"

## Preprocessing of tables

In [26]:
# opening the files into 
training_csv=pd.read_csv(training_file, sep=',',header=0)
segments_csv=pd.read_csv(segments_file, sep=',',header=0)

In [27]:
training_csv.drop('cat',axis=1, inplace=True)
training_csv.head()

,Class_num,xcoords,ycoords,img13_red_min,img13_red_max,img13_red_mean,img13_red_stddev,img13_red_variance,img13_red_coeff_var,img13_red_sum,...,nir13_27_Var_min,nir13_27_Var_max,nir13_27_Var_mean,nir13_27_Var_stddev,nir13_27_Var_variance,nir13_27_Var_coeff_var,nir13_27_Var_sum,nir13_27_Var_first_quart,nir13_27_Var_median,nir13_27_Var_third_quart
0,5,812710.352607,620161.954770,71,179,120.083058,19.360173,374.816317,16.122319,472767,...,59.607773,412.850159,219.039573,82.633280,6828.258889,37.725274,8.623588e+05,152.0930,207.8610,291.0500
1,2,821654.923109,619250.347661,76,171,111.304277,14.859116,220.793321,13.349995,1496486,...,45.007038,182.461426,83.966657,23.706350,561.991028,28.233052,1.128932e+06,68.5239,77.7142,91.8178
2,4,808405.456435,613404.696156,81,167,114.769830,13.061189,170.594670,11.380334,412368,...,42.477394,156.576248,88.017384,29.046858,843.719968,33.001274,3.162465e+05,61.4290,86.1712,111.1000
3,1,809156.876796,615741.796423,78,171,113.565241,13.394269,179.406451,11.794339,616205,...,53.856468,168.830139,108.366111,25.050664,627.535756,23.116695,5.879945e+05,88.5362,106.2640,127.4080
4,1,805691.759011,612781.895146,76,164,115.960652,12.605319,158.894068,10.870342,568787,...,47.050034,127.231491,74.278876,14.467794,209.317072,19.477670,3.643379e+05,63.5540,72.2988,83.8534

In [28]:
x=training_csv.drop(train_class_column,axis=1)
y=training_csv[train_class_column]
x.head()

,xcoords,ycoords,img13_red_min,img13_red_max,img13_red_mean,img13_red_stddev,img13_red_variance,img13_red_coeff_var,img13_red_sum,img13_red_first_quart,...,nir13_27_Var_min,nir13_27_Var_max,nir13_27_Var_mean,nir13_27_Var_stddev,nir13_27_Var_variance,nir13_27_Var_coeff_var,nir13_27_Var_sum,nir13_27_Var_first_quart,nir13_27_Var_median,nir13_27_Var_third_quart
0,812710.352607,620161.954770,71,179,120.083058,19.360173,374.816317,16.122319,472767,106,...,59.607773,412.850159,219.039573,82.633280,6828.258889,37.725274,8.623588e+05,152.0930,207.8610,291.0500
1,821654.923109,619250.347661,76,171,111.304277,14.859116,220.793321,13.349995,1496486,100,...,45.007038,182.461426,83.966657,23.706350,561.991028,28.233052,1.128932e+06,68.5239,77.7142,91.8178
2,808405.456435,613404.696156,81,167,114.769830,13.061189,170.594670,11.380334,412368,107,...,42.477394,156.576248,88.017384,29.046858,843.719968,33.001274,3.162465e+05,61.4290,86.1712,111.1000
3,809156.876796,615741.796423,78,171,113.565241,13.394269,179.406451,11.794339,616205,105,...,53.856468,168.830139,108.366111,25.050664,627.535756,23.116695,5.879945e+05,88.5362,106.2640,127.4080
4,805691.759011,612781.895146,76,164,115.960652,12.605319,158.894068,10.870342,568787,109,...,47.050034,127.231491,74.278876,14.467794,209.317072,19.477670,3.643379e+05,63.5540,72.2988,83.8534

### Get train and test set

In [29]:
#use a train-test-split to split the data into training and testing (validation data)
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=66)

## RANDOM FOREST

### Fit the model to train data

#WITH PARAMETER SEARCH

#hyperparameter search
rfc = RandomForestClassifier()
from sklearn.model_selection import RandomizedSearchCV
# number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# number of features at every split
max_features = ['auto', 'sqrt']

# max depth
max_depth = [int(x) for x in np.linspace(100, 500, num = 11)]
max_depth.append(None)
# create random grid
random_grid = {
 'n_estimators': n_estimators,
 'max_features': max_features,
 'max_depth': max_depth
 }
# Random search of parameters
rfc_random = RandomizedSearchCV(estimator = rfc, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the model
rfc_random.fit(X_train, y_train)
# print results
print(rfc_random.best_params_)

### Independant test set accuracy assessment

In [30]:
#printing the accuracy metrics
#plugging back the parameters into the model
rfc = RandomForestClassifier(n_estimators=1000, max_depth=500, max_features='auto')
#rfc = RandomForestClassifier(n_estimators=400, max_features='sqrt')
rfc.fit(X_train,y_train)
rfc_predict = rfc.predict(X_test)
rfc_cv_score = cross_val_score(rfc, x, y, cv=10)
print("=== Confusion Matrix ===")
print(confusion_matrix(y_test, rfc_predict))
print('\n')
print("=== Classification Report ===")
print(classification_report(y_test, rfc_predict))
print('\n')
print("=== All AUC Scores ===")
print(rfc_cv_score)
print('\n')
print("=== Mean AUC Score ===")
print("Mean AUC Score - Random Forest: ", rfc_cv_score.mean())

=== Confusion Matrix ===
[[43  0  2  2  0  0]
 [ 1 47  0  0  0  0]
 [ 3  0  6  5  1  0]
 [ 4  0  1 33  0  0]
 [ 2  1  1  0 51  3]
 [ 0  1  0  0  1 69]]


=== Classification Report ===
              precision    recall  f1-score   support

           1       0.81      0.91      0.86        47
           2       0.96      0.98      0.97        48
           3       0.60      0.40      0.48        15
           4       0.82      0.87      0.85        38
           5       0.96      0.88      0.92        58
           6       0.96      0.97      0.97        71

    accuracy                           0.90       277
   macro avg       0.85      0.84      0.84       277
weighted avg       0.90      0.90      0.90       277



=== All AUC Scores ===
[0.79310345 0.91860465 0.87058824 0.86904762 0.82142857 0.92771084
 0.91566265 0.80722892 0.86585366 0.87804878]


=== Mean AUC Score ===
Mean AUC Score - Random Forest:  0.8667277373871907

In [31]:
## Prediction on all street blocks

In [32]:
# Drop the 'cat' column
segments_csv_cat=segments_csv['cat']
segments_csv.drop('cat',axis=1, inplace=True)
segments_csv.head()

,xcoords,ycoords,img13_red_min,img13_red_max,img13_red_mean,img13_red_stddev,img13_red_variance,img13_red_coeff_var,img13_red_sum,img13_red_first_quart,...,nir13_27_Var_min,nir13_27_Var_max,nir13_27_Var_mean,nir13_27_Var_stddev,nir13_27_Var_variance,nir13_27_Var_coeff_var,nir13_27_Var_sum,nir13_27_Var_first_quart,nir13_27_Var_median,nir13_27_Var_third_quart
0,832587.555883,623954.050719,72,181,109.616181,14.034010,196.953433,12.802863,2805955,99,...,27.325165,331.663757,97.094885,54.950533,3019.561071,56.594673,2.485435e+06,60.0486,77.8742,117.4030
1,832536.625387,624237.499191,77,169,118.349784,13.231623,175.075860,11.180099,1784123,110,...,26.741806,143.798828,69.504790,17.088235,292.007762,24.585693,1.047785e+06,57.2611,67.6923,79.0071
2,832624.881253,624602.957051,86,158,119.878981,10.975487,120.461324,9.155473,414062,112,...,36.091694,84.454178,59.854607,8.517946,72.555401,14.231061,2.067378e+05,53.8831,58.0082,65.5840
3,833320.404997,624886.990443,72,187,120.573654,15.211325,231.384416,12.615795,6749472,111,...,3.428032,271.064087,81.657487,37.921226,1438.019390,46.439375,4.571023e+06,55.4204,76.0771,99.3504
4,832640.700044,624821.094295,82,160,116.721063,9.705592,94.198523,8.315202,715967,112,...,24.579857,72.984200,43.297048,11.582319,134.150108,26.750828,2.655841e+05,33.3053,41.0685,52.7507

In [33]:
#make a prediction of the segments_csv
rfc_predict = rfc.predict(segments_csv)

#PRINT LENGTH OF THE PREDICTIONS 
print ("%s records have been classified"%len(rfc_predict))
#Create a dataframe with the results and the 'cat' value
result=zip(segments_csv_cat,rfc_predict)
softmax = pd.DataFrame.from_dict(result) #list to df
softmax.columns=['cat','predicted_label'] #Define columns name
softmax.set_index('cat',inplace=True)
# Export results to file
softmax_csv = 'E:\\UsersData\\owusu\\new_results\\streetblocks_stats\\block13_results\\LU_13_RF_softmax.csv'
softmax.to_csv(softmax_csv, index=True)
# Show table
softmax.head()

18902 records have been classified

     predicted_label
cat
0                  4
1                  4
2                  1
3                  5
4                  4

## creation of reclass rules

#CREATION OF THE RECLASS RULES

#df_dummy is the file containing the predictions
df_dummy=softmax

reclass_rules=[]
for i,m in df_dummy.iterrows():
    #print (str(m['id']) + '=' + str(m['rf']))
    
    x= (str(m['cat']) + '=' + str(m['preds_id']))
    reclass_rules.append(x)
reclass_rules.append('*'+'='+'NULL')


with open(outputcsv, 'w') as outfile:
    for s in reclass_rules:
        outfile.write("%s\n" % s)
    outfile.close()
    #print m

## Predict class membership probabilities and compute ERP index

In [34]:
#GENERATE THE CLASS PROBABILITIES
rfc_predict_proba = rfc.predict_proba(segments_csv)

In [36]:
# Formating results in a pandas dataframe 
df = pd.DataFrame(data=rfc_predict_proba[:,:],    # values
             index=segments_csv_cat,    # 1st column as index
             columns=['soft_prob_1','soft_prob_2','soft_prob_3','soft_prob_4','soft_prob_5','soft_prob_6'])  # 1st row as the column names
# Export results to file
softprob_csv = 'E:\\UsersData\\owusu\\new_results\\streetblocks_stats\\block13_results\\LU_13_RF_softprob.csv'
df.to_csv(softprob_csv, index=True)

In [37]:
# Compute confidence index (ERP)
softprob_ERP_csv = ComputeERPfromCsv(softprob_csv, delimiter=',', erp_name="ERP", start_index=1, stop_index=False)
softprob_ERP = pd.read_csv(softprob_ERP_csv)
softprob_ERP.set_index('cat',inplace=True)
softprob_ERP.head()

,soft_prob_1,soft_prob_2,soft_prob_3,soft_prob_4,soft_prob_5,soft_prob_6,ERP
cat,,,,,,,
0,0.066,0.081,0.171,0.397,0.237,0.048,0.356693
1,0.343,0.003,0.076,0.549,0.025,0.004,0.338733
2,0.692,0.002,0.176,0.120,0.003,0.007,0.512723
3,0.000,0.001,0.000,0.000,0.996,0.003,0.988686
4,0.338,0.055,0.055,0.410,0.045,0.097,0.327662

## Get all RF SoftMAX and SoftPROB and ERP in the same csv output

In [38]:
all_RF_outputs = pd.merge(softprob_ERP, softmax, left_index=True, right_index=True)
# Export results to file
all_RF_outputs_csv = 'E:\\UsersData\\owusu\\new_results\\streetblocks_stats\\block13_results\\contextul_subclass.csv'
all_RF_outputs.to_csv(all_RF_outputs_csv, index=True)
# Show table
all_RF_outputs.head()

,soft_prob_1,soft_prob_2,soft_prob_3,soft_prob_4,soft_prob_5,soft_prob_6,ERP,predicted_label
cat,,,,,,,,
0,0.066,0.081,0.171,0.397,0.237,0.048,0.356693,4
1,0.343,0.003,0.076,0.549,0.025,0.004,0.338733,4
2,0.692,0.002,0.176,0.120,0.003,0.007,0.512723,1
3,0.000,0.001,0.000,0.000,0.996,0.003,0.988686,5
4,0.338,0.055,0.055,0.410,0.045,0.097,0.327662,4

## Get feature importance of the model

In [39]:
#VIEW THE FEATURE IMPORTANCES
feature_importances = pd.DataFrame(rfc.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance',ascending=False)
# Display
feature_importances

                           importance
ndvi13_third_quart           0.033883
ndvi13_median                0.030225
ndvi13_mean                  0.029685
ndvi13_first_quart           0.021100
img13_red_third_quart        0.020089
...                               ...
nir13_27_Var_mean            0.001754
nir13_21_Entr_third_quart    0.001613
nir13_27_ASM_first_quart     0.001534
nir13_21_ASM_first_quart     0.001497
nir13_27_Entr_third_quart    0.001363

[152 rows x 1 columns]